{#
/**
 * @file
 * The template file for contact_storage e-mails.
 *
 * The table / HTML structure is taken from swiftmailer's default template file
 * for e-mails, only the CSS has been added.
 */
#}

<style type="text/css">
 table tr td {
   font-family: Arial;
   font-size: 12px;
 }

 .form-item, .field--label-inline, .field--label-above {
   margin-top: 10px;
 }

 .label, label {
   font-weight: bold;
 }

 label {
   display: block;
 }

 .field--label-inline .label {
   float:left; /*LTR*/
   margin-right: 0.5em; /*LTR*/
 }

 .field--label-inline .label::after {
   content: ':';
 }
.contact-message-kontakt-mail__name,
.contact-message-kontakt-mail__mail,
.contact-message-kontakt-mail__message {
    margin-bottom: 20px;
}
 .contact-message-kontakt-mail__name-label,
 .contact-message-kontakt-mail__mail-label,
 .contact-message-kontakt-mail__message-label {
     font-weight: bold;
     margin: 10px 0 5px 0;
 }

.contact-message-contact-mail__name,
.contact-message-contact-mail__message,
.contact-message-contact-mail__field-phone,
.contact-message-contact-mail__field-cookie-and-privacy {
  margin-bottom: 8px;
}
.contact-message-contact-mail__name-label,
.contact-message-contact-mail__message-label,
.contact-message-contact-mail__field-phone-label,
.contact-message-contact-mail__field-cookie-and-privacy-label {
  font-weight: bold;
}
.contact-message-contact-mail__name {
  margin-top: 8px;
}
 .clearfix {
   clear: both;
 }
 </style>

 <div>
   <table width="800px" cellpadding="0" cellspacing="0">
     <tr>
       <td>
         <div style="padding: 0px 0px 0px 0px;">
           {{ body }}
         </div>
       </td>
     </tr>
   </table>
 </div>
