{% set longinus_block = longinus_block ?: ('node-' ~ node.bundle ~ (view_mode != 'default' ? '-' ~ view_mode))|clean_class %}
{% set classes = [
    longinus_block,
    node.isPromoted() ? longinus_block ~ '--promoted',
    node.isSticky() ? longinus_block ~ '--sticky',
    not node.isPublished() ? longinus_block ~ '--unpublished',
] %}

<article{{ attributes.addClass(classes) }}>
    {% block content %}
        {% if content.field_image_link | render %}
            <a href="{{ content.field_image_link['0']['#url'] }}">
        {% endif %}

        {{ content|without('field_image_link') }}

        {% if content.field_image_link | render %}
            </a>
        {% endif %}
    {% endblock %}
</article>
