.cheeseburger-menu__item--is-expanded ul {
    background-color: #e6af7333;
}


[data-cheeseburger-id="menu-language"] .cheeseburger-menu__mainmenu {
    display: flex;
  }

  .cheeseburger-menu__main-navigation-area ul {
    padding: 0 6px;
  }

.language__item a {
    border: 1px solid #e6af73;
    border-radius: 8px;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    color: #e6af73;
    letter-spacing: 3px;
    padding: 8px;
    display: flex;
    align-items: center;
    line-height: 1.3;
}
.active-lang a{
    background-color: #e6af7333; 
}
.cheeseburger-menu__backdrop--active {
  top: unset;
  right: unset;
  width: unset;
  height: unset;
  background-color: unset;
}
