.paragraph-row__field-cards {
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
    margin-bottom: 16px;
}
.paragraph-row__field-cards-item {
    flex-grow: 1;
    width: 100%;
    display: flex;
    align-items: center;
}
.paragraph-card__container {
    padding: 16px;
}
.paragraph-card {
    border-radius: 8px;
    line-height: 1.5;
}
.paragraph-card__field-title-item {
    font-family: 'MedievalSharp', cursive !important;
    font-size: 28px;
}
[data-paragraph-invert="on"]{
    background-color: #e6af7333;
  }
@media all and (min-width:768px) {
    .paragraph-row__field-cards {
        display: flex;
        flex-flow: row nowrap;
        gap: 16px;
    }
    .paragraph-row__field-cards-item {
        flex-grow: 1;
        width: 33%;
    }
} 

@media all and (min-width:1024px) {
    .paragraph-row__field-cards {
        gap: 40px;
        margin-bottom: 40px;
    }
}