#pre-footer {
    margin-top: 80px;
    padding: 20px 0;

}
.region-footer-first #block-longinus-sitebranding img {
    width: 50px;
}

#block-longinus-sitebranding .block-branding__link{
    display: flex; 
    align-items: center;
    gap: 15px;
    text-decoration: none;
}
#block-longinus-sitebranding .block-branding__site-name {
    width: 190px;
    line-height: 1.3;
    font-size: 14px;
    color: black;
}

/* big footer */

.region-footer-second {
    display: flex;
    flex-direction: column;
}
#block-longinus-footerinfo {
    flex: 60%;
}
#block-longinus-contactus {
    flex: 40%;
    text-align: center;
}
#block-longinus-contactus a{
    color: #816362;
    text-decoration: none;
}
#block-longinus-contactus a:hover{
    text-decoration: underline;
}
.block-contactus__title  {
    font-family: 'MedievalSharp', cursive !important;
    color:#E6AF73;
    font-size: 42px;
}
#pre-footer {
    padding-top: 80px;
    margin-bottom: 6px;
    font-size: 14px;
}
.block-social__menu {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.block-social__menu a[href*=facebook] {
    background-image: url(../images/icons/facebook.svg);
    background-size: 36px;
}
.block-social__menu a[href*=instagram] {
    background-image: url(../images/icons/instagram.svg);
    background-size: 36px;
}
.block-social__menu a {
    display: block;
    text-indent: -9999px;
    width: 36px;
    height: 36px;
}

.block-social__menu a:hover {
    transform: scale(1.1);
}

#pre-footer a[href*=maps]::after {
    content: "";
    display: inline-block;
    background-image: url(../images/icons/map.svg);
    background-size: 24px;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    margin: 0 0 -6px 8px;
}
#pre-footer a[href^="tel:"]::after {
    content: "";
    display: inline-block;
    background-image: url(../images/icons/phone.svg);
    background-size: 24px;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    margin: 0 0 -6px 8px;
}
#pre-footer a[href^="mailto:"]::after {
    content: "";
    display: inline-block;
    background-image: url(../images/icons/email.svg);
    background-size: 24px;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    margin: 0 0 -6px 8px;
}

/* small footer */
#footer {
    padding: 24px 0;
    padding-top: 50px;
    background: rgb(129,99,98);
    background: linear-gradient(0deg, rgba(129,99,98,1) 73%, rgba(230,175,115,1) 85%, rgba(255,255,255,1) 100%);
    font-size: 10px;
}
#footer {
    color: white;
}
#footer a {
    color: white;
}
.region-footer-fourth {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-footermenu__menu {
    display: flex;
}
.block-footermenu__menu a, li {
    text-decoration: none;
    list-style: none;
}
.block-footermenu__menu a:hover {
    text-decoration: underline;
}
#footer .block-footermenu__menu-item:not(:last-child)::after {
    content: "|";
    margin-right: 3px;
    color: white;
}

@media all and (min-width:1024px) {
    .region-footer-second {
        flex-direction: row;
    }
    #block-longinus-contactus {
        text-align: end;
    }
    .region-footer-fourth {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: unset;
    }
}