
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
}
@media all and (min-width:1440px) {
    .container {
        padding: 0;
    }
}
#block-longinus-pagetitle {
    font-family: 'MedievalSharp', cursive !important;
    color:#816362;
    font-size: 42px;
    text-align: center;
}

@media all and (max-width:800px) {
    #block-longinus-pagetitle {
        font-size: 28px;
    }
}

@media all and (max-width:450px) {
    #block-longinus-pagetitle {
        font-size: 22px;
    }
}

ul {
    padding: 0;
}
img {
    max-width: 100%;
    height: auto;
}
.view-frontpage-page-1 {
    display: none;
}