
.region-highlighted #block-tabs .tabs--primary {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
.region-highlighted #block-tabs li {
    list-style: none;
    width: 100px;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    margin: 0 10px;
    align-items: center;
    display: grid;
}
.region-highlighted #block-tabs li:hover {
    background-color: bisque;
}
.region-highlighted #block-tabs a{
    text-decoration: none;
    color: black;
    display: block;
}