#block-longinus-languageswitcher {
    display: inline-block;
    position: relative;
    height: 32px;
    width: 56px
}

#block-longinus-languageswitcher:after, #block-longinus-languageswitcher:before {
    content: " ";
    display: table
}

#block-longinus-languageswitcher:after {
    clear: both
}

#block-longinus-languageswitcher .links {
    z-index: 101;
    position: absolute;
    height: 32px;
    width: 56px;
    right: 0;
    padding: 0;
    border: 1px solid #e6af73;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff
}

#block-longinus-languageswitcher .links li {
    cursor: pointer;
    display: none
}

.block-languagemenu__items li a {
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    color: #e6af73;
    letter-spacing: 3px;
    padding: 8px;
    display: block;
    line-height: 1.3;
    height: 100%
}

#block-longinus-languageswitcher .links li a.is-active {
    border-top: none
}


#block-longinus-languageswitcher .links li:hover {
    background-color: #e6af7333
}



#block-longinus-languageswitcher {
    display: none
}

@media all and (min-width:1024px) {
    #block-longinus-languageswitcher {
        display: inline-block;
        height: 58px;
    }

    #block-longinus-languageswitcher .links {
        z-index: 101;
        position: absolute;
        right: 0;
        top: 14px;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    #block-longinus-languageswitcher .links .de {
        display: none !important
    }

    #block-longinus-languageswitcher .links li {
        display: none
    }

    #block-longinus-languageswitcher .links li:nth-of-type(2) a {
        border-top: 1px solid rgba(0, 0, 0, .1)
    }

    #block-longinus-languageswitcher .links li:first-of-type {
            display: block;
            background-image: url(../images/icons/arrow-orange.svg);
            background-position: right 8px center;
            background-size: 16px;
            background-repeat: no-repeat
    }

    #block-longinus-languageswitcher .links:hover {
        height: auto;
        cursor: pointer
    }

    #block-longinus-languageswitcher .links:hover li {
        display: block
    }


    #block-longinus-languageswitcher .block-laitems:hover li:last-of-type a {
        border-bottom: 0
    }

}