.view-shows-block-1__content {
    overflow-x:auto;
}
.view-shows-block-1__content table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
}
.view-shows-block-1__content thead tr {
    background-color: #E6AF73;
    color: #ffffff;
    text-align: left;
}
.view-shows-block-1__content th,
.view-shows-block-1__content td {
    padding: 12px 15px;
}
.view-shows-block-1__content tbody tr {
    border-bottom: 1px solid #dddddd;
}
.view-shows-block-1__content tbody tr td {
    min-width: 125px;
}
.view-shows-block-1__content tbody tr td:last-of-type {
    min-width: 400px;
}

.view-shows-block-1__content tbody tr:nth-of-type(even) {
    background-color: #e6af7333;
}

.view-shows-block-1__content tbody tr:last-of-type {
    border-bottom: 2px solid #E6AF73;
}
.view-shows-block-1__content tbody tr.active-row {
    font-weight: bold;
    color: #E6AF73;
}