.paragraph-video__field-video video{
    width: 100%;
    margin-bottom: 40px;
    margin-top: 40px;
    height: 80vh;
}

.paragraph-video {
    display: flex;
    justify-content: center;
    align-items: center;
}