#pricing-table {
  padding-top: 30px;
}
#pricing-table li {
  height: 40px;
  color: black;
  text-align: center;
  overflow: hidden;
}

.class_inline_1 {
  width: 49%;
  display: inline-block;
  padding-top: 1%;
}

#pricing-table .pricing {
  margin: 0;
  padding: 0;
  font-family: 'Robot', sans-serif;
}
#pricing-table .pricing .pricing-table {
  padding-bottom: 15px;
}
#pricing-table .pricing .pricing-table .pricing-header {
  position: relative;
  background: #34495e;
  padding: 6px 18px;
  text-align: center;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-title {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate {
  font-size: 60px;
  font-weight: 600;
  color: #ffffff;
  position: relative;
  text-align: center;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate sup {
  font-size: 24px;
  position: relative;
  top: -30px;
  color: #bdc3c7;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate span {
  font-size: 13px;
  color: #bdc3c7;
  text-transform: uppercase;
}
#pricing-table .pricing .pricing-list {
  padding: 20px 0 40px 0;
  background: #c4baba1c;
  border: 1px solid #e3e3e3;
}
#pricing-table .pricing .pricing-list ul {
  padding: 0px;
  display: table;
  margin: 0px auto;
  width: 100%;
  text-align: center;
}
#pricing-table .pricing .pricing-list ul li {
  list-style: none;
  border-bottom: 1px solid #eaeceb;
  color: black;
  font-size: 15px;
  line-height: 42px;
}
#pricing-table .pricing .pricing-list ul li:last-child {
  border: none;
}
#pricing-table .pricing .pricing-list ul li i {
  margin-right: 12px;
  color: #bdc3c7;
}
#pricing-table .pricing .pricing-list ul li span {
  color: #34495e;
}
.pricing-title>span {
  font-size: 12px;
  letter-spacing: 1px;
}
p.pricing-title {
  height: 70px;
}
p.pricing-rate {
  margin-bottom: 50px;
}

.pricing-list li:nth-of-type(2n+1) {
  background-color: rgba(23, 61, 80, 0.06);
}
.btn-disabled,
.btn-disabled[disabled] {
  opacity: .4;
  cursor: default !important;
  pointer-events: none;
}
