.shift-right {
  float: right;
}
.mo_rest_api_highlight_background_note_1 {
  background-color: #e0e0e0;
  border-radius: 4px;
  padding: 0.55em;
  width: 97%;
}
.mo_rest_api_authn_background {
  background-color: #f3f4f9 !important;
  padding: 0.5%;
}
.td-class {
  padding: 0%;
}

#module_background {
  background-color: black;
}
