.node-page-full__body {
    background-color: #e6af7333;
    border-radius: 8px;
    padding: 16px;
    padding-top: 50px;
    margin-bottom: 16px;
}
.node-page-full__content {
    position: relative;
}
.node-page-full__body h2{
    position: relative;
    font-family: 'MedievalSharp', cursive !important;
    font-size: 28px;
    font-weight: 400;
}
.node-page-full__field-svg-icon {
    position: absolute;
    right: 42%;
    top: -40px;
}
.node-page-full__field-svg-icon img {
    width: 80px;
}

@media all and (min-width:768px) {
    .node-page-full__body {
        margin-bottom: 40px;
    }
    .node-page-full__field-svg-icon {
        position: absolute;
        right: 80px;
        top: -50px;
    } 
    .node-page-full__field-svg-icon img {
        width:  100px;
    }
}