.view-blog-page-1__content {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.view-blog-page-1__row {
    flex: 0 0 100%;
}
.node-blog-full__body {
    margin-bottom: 40px;
}

.node-blog-teaser__body p{
    height: 77px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.node-blog-teaser__title span {
    font-family: 'MedievalSharp', cursive !important;
}
.view-blog-page-1__row:hover .node-blog-teaser__title a {
    text-decoration: underline;
}
.node-blog-teaser a{
    text-decoration: none;
    color: black;
}
.view-blog-page-1 img {
    border-radius: 8px;
}
/* Pager */
.pager ul {
    display: flex;
    justify-content: center;
}
.pager li {
    margin: 0 8px;
    font-size: 16px;
}
.pager a {
    text-decoration: none;
    color: black
}
.pager a:hover {
    text-decoration: underline;
}

/* front page */
.view-blogs-front-block-1__content {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.view-blogs-front-block-1__row {
    flex: 0 0 100%;
}
.view-blogs-front-block-1__row:hover .node-blog-teaser__title a {
    text-decoration: underline;
}
 
@media all and (min-width:768px) {
    .view-blog-page-1__row {
        flex: 0 0 calc(50% - 16px);
    }
    .view-blog-page-1__content {
        gap: 16px;
    }
    .view-blogs-front-block-1__row {
        flex: 0 0 calc(50% - 16px);
    }
    .view-blogs-front-block-1__content {
        gap: 16px;
    }
}

@media all and (min-width:1024px) {
    .view-blog-page-1__row {
        flex: 0 0 calc(33% - 32px);
    }
    .view-blog-page-1__content {
        gap: 32px;
    }
    .view-blogs-front-block-1__row {
        flex: 0 0 calc(33% - 32px);
    }
    .view-blogs-front-block-1__content {
        gap: 32px;
    }
}