
.node-characters-full__body {
    background-color: #e6af7333;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
}
.taxonomy-term-shields {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}
.taxonomy-term-weapons {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}

/* wear */
.node-characters-full__field-wear {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 30px;
}
.node-characters-full__field-wear span {
    font-family: 'MedievalSharp', cursive !important;
    font-size: 28px;
}
.node-characters-full__field-wear p {
    font-size: 16px;
    line-height: 1.5;
}
.node-characters-full__field-wear .node-characters-full__field-wear-item {
    flex: 0 0 calc(50% - 8px);
    
}
.node-characters-full__field-wear-item .taxonomy-term-costumes {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}
.node-characters-full__field-wear a {
    pointer-events: none;
    text-decoration: none;
    color: black;
    font-family: 'MedievalSharp', cursive !important;
    font-size: 28px;
}
.node-characters-full__field-wear .node-characters-full__field-wear-item img{
    object-fit: cover;
    width: 100%;
    height: 250px;
    border-radius: 8px;
}
@media all and (min-width:768px) {
    .node-characters-full__field-wear {
        gap: 30px;
    }
    .node-characters-full__field-wear .node-characters-full__field-wear-item {
        flex: 0 0 calc(33% - 18px);
    }
}

/* teasers */

.view-characters-page-1__content {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 30px;
}
.view-characters-page-1__content span {
    font-family: 'MedievalSharp', cursive !important;
    font-size: 28px;
}
.node-characters-teaser__title {
    text-align: center;
}
.view-characters-page-1__content p {
    font-size: 16px;
    line-height: 1.5;
}
.view-characters-page-1__content .view-characters-page-1__row {
    flex: 0 0 calc(50% - 8px);
    
}
.view-characters-page-1__content a {
    
    text-decoration: none;
    color: black;
    font-family: 'MedievalSharp', cursive !important;
    font-size: 28px;
}
.view-characters-page-1__row:hover {
    text-decoration: underline;
}
.view-characters-page-1__content .view-characters-page-1__row img{
    object-fit: cover;
    width: 100%;
    height: 300px;
    border-radius: 8px;
}
@media all and (min-width:425px) {
    .view-characters-page-1__content .view-characters-page-1__row img{
        height: 450px;
    }
}
@media all and (min-width:768px) {
    .view-characters-page-1__content {
        gap: 30px;
    }
    .view-characters-page-1__content .view-characters-page-1__row {
        flex: 0 0 calc(33% - 18px);
    }
    .view-characters-page-1__content .view-characters-page-1__row img{
        height: 400px;
    }
}
@media all and (min-width:1024px) {
    .view-characters-page-1__content {
        gap: 18px;
    }
    .view-characters-page-1__content .view-characters-page-1__row {
        flex: 0 0 calc(25% - 18px);
    }
    .view-characters-page-1__content .view-characters-page-1__row img{
        height: 500px;
    }
}