
/* Login */
#edit-name--description {
    display: none;
}
#edit-pass--description {
    display: none;
}
.user-login-form {
    width: 80%;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    gap: 30px;
}

.form-user-login-form__name {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}
.form-user-login-form__pass {
    width: 100%;
    display: flex;
    gap: 15px;
    flex-direction: column;
}
/* 816362
#e6af73 */
.form-submit {
    border: 1px solid #816362;
    border-radius: 8px;
    padding: 8px;
    background-color: #e6af7333;
    font-family: 'Montserrat', sans-serif;
    color: #816362;
    font-weight: 500;
}
.form-submit:hover {
    background-color: #816362;
    color: #e6af73;
}
input {
    border: 1px solid #816362;
    border-radius: 8px;
    padding: 8px;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    color: #816362;
    font-weight: 500;
}
input:focus {
    border: 2px solid #816362;
    background-color: #e6af7333;
}

/* Sign Up */
#edit-mail--description {
    display: none;
}
.form-wrapper{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}
.user-register-form {
    width: 80%;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    gap: 30px;
}
.form-user-register-form__mail {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width:100%;
}
.form-user-register-form__name {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}
.form-user-register-form__user-picture-0 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

/* Password reset */
.form-user-pass {
    width: 80%;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    gap: 30px;
}
.form-user-pass__name {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width:100%;  
}

/* Contact */
.contact-message-feedback-form {
    width: 80%;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    gap: 30px;
}
.form-contact-message-feedback-form__name {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width:100%;
}
.form-contact-message-feedback-form__mail {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width:100%;
}
.form-contact-message-feedback-form__subject-0-value {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width:100%;
}
.form-contact-message-feedback-form__message-0-value {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width:100%;
}
textarea {
    border: 1px solid #816362;
    border-radius: 8px;
    padding: 8px;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    color: #816362;
    font-weight: 500;
    width: 90%;
}
textarea:focus {
    border: 2px solid #816362;
    background-color: #e6af7333;
}
@media all and (min-width:768px) {
    .user-login-form {
        width: 50%;
    } 
    .user-register-form {
        width: 50%;
    }
    .form-user-pass {
        width: 50%;
    }
    .contact-message-feedback-form {
        width: 50%;
    }
}
@media all and (min-width:1024px) {
    .user-login-form {
        max-width: 600px;
    } 
    .user-register-form {
        max-width: 600px;
    }
    .form-user-pass {
        max-width: 600px;
    }
    .contact-message-feedback-form {
        max-width: 600px;
    }
}