.region-primary-navigation .contextual-region {
    position: unset;
}
.contextual .open .contextual-links {
    display: flex;
    flex-direction: column;
}
.region-primary-navigation {
    display: none;
}
.region-branding {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.block-cheeseburgermenu__trigger-element {
    display: inline-table;
}

body {
    margin: 0;
}

#header {
    position: relative;
    box-shadow: 0 4px 16px rgba(0,0,0,.1);
    padding: 16px 0;
    background-color: white;
    margin-bottom: -20px;
    z-index: 3;
}
#block-longinus-site-branding .block-branding__link img{
    max-width: 50px;
}
#block-longinus-site-branding .block-branding__link{
    display: flex; 
    align-items: center;
    gap: 15px;
    text-decoration: none;
}
#block-longinus-site-branding .block-branding__site-name {
    width: 190px;
    line-height: 1.3;
    font-size: 14px;
    color: black;
}
#header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.block-mainnavigation-2__submenu li a {
    padding: 18px;
}
@media all and (min-width:425px) { 
    #header .container{
        /* padding: 0 16px; */
    
    }
    
}
@media all and (min-width:1024px) {
    #header .container{
        /* padding: 0 48px; */
    
    }
    .region-branding {
        width: auto;
    }
    #header .container .region-primary-navigation{
        display: block;
        margin: 0;
        padding: 8px 0;
        list-style: none;
        text-align: center;
    }
    #header .container .region-primary-navigation li{
        display: inline-block;
        margin: 0 13px;
    }

    .block-mainnavigation-2__menu {
        padding: 0;
        align-items: center;
        display: flex;
    }
    .block-mainnavigation-2__menu a {
        text-decoration: none;
        color: black;
        font-size: 14px;
    }
    .block-mainnavigation-2__menu a:hover {
        text-shadow: 2px 2px 6px #000000;
    }
    .region-primary-navigation .is-active{
        text-shadow: 2px 2px 6px #000000;
    }
    .block-mainnavigation-2__menu-item--expanded .block-mainnavigation-2__menu-item-link {
        font-size: 14px;
        padding: 28px 10px;
    }
    .block-mainnavigation-2__menu-item--expanded .block-mainnavigation-2__menu-item-link:hover {
        text-shadow: 2px 2px 6px #000000;
        cursor: pointer;
    }
    
    .block-mainnavigation-2__submenu {
        position: absolute;
        display: none;
        left: 0;
        right: 0;
        top: 98px;
        background-color: #E6AF73;
        flex-wrap: wrap;
        justify-content: center;
        z-index: 100;
    }
    .block-mainnavigation-2__submenu li {
        flex: 0 0 16%;
        text-align: center;
        max-width: 150px;
        display: flex !important;
        align-items: center;
    }
    .block-mainnavigation-2__submenu li a {
        display: block;
    }


    .opened-researches {
        display: flex;
    }
    .opened-doings {
        display: flex;
    }
}
@media all and (min-width:1440px) {
    #block-longinus-site-branding .block-branding__site-name {
        width: 230px;
    }

    #block-longinus-site-branding .block-branding__site-name {
        font-size: 18px;
    }
    #header .container .region-primary-navigation li{
        width: unset;
    }
    .block-mainnavigation-2__menu-item--expanded .block-mainnavigation-2__menu-item-link {
        font-size: 18px;
    }
    .block-mainnavigation-2__menu a {
        font-size: 18px;
    }

    .region-primary-navigation .block-mainnavigation-2__menu-item-link {
        padding: 18px;
    }
}
